.dropdown {
  position: absolute;
  height: 26rem;
  width: 85vw;
  top: 9rem;
  left: 6rem;
  right: 0;
  background-color: #fff;
  margin: 10px 17px;
  padding: 25px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  z-index: 2000;
  overflow: hidden;


  & .dropdown-row {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
  }

  & .dropdown-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-between;

    margin-right: 2rem;

    height: 100%;
    width: 35%;

    & .title {
      text-transform: capitalize;
      color: $color-main;
      font-weight: bold;
      font-size: 17px;
      line-height: 1.375;
    }

    & ul {
      margin-top: 5px;
      border-top: 1px solid $color-ghost;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: stretch;
      align-content: space-between;

      & li {
        color: $color-main;
        font-size: 14px;
        letter-spacing: 0.01em;
        line-height: 1.6;
        list-style: none;
        margin-bottom: 10px;
        &:hover{
          font-weight: bold;
        }
      }
    }
  }
}